{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Запрос сброса пароля</title>
    <style>
       
    </style>
</head>
<body>
<div class="container">
    <h2>Запрос сброса пароля</h2>
    <form method="POST" action="{% url 'password_reset' %}">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="email" id="email" class="form-control" placeholder="Укажите Ваш e-mail" name="email" required />
            <label class="form-label" for="email">E-mail адрес</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Отправить ссылку для сброса пароля</button>
    </form>
</div>
</body>
</html>
