<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Сброс пароля</title>
</head>
<body>
    <h2>Сброс пароля</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="form-outline mb-4">
            <input type="password" id="new_password1" class="form-control" placeholder="Введите новый пароль" name="new_password1" required />
            <label class="form-label" for="new_password1">Новый пароль</label>
        </div>
        <div class="form-outline mb-4">
            <input type="password" id="new_password2" class="form-control" placeholder="Подтвердите новый пароль" name="new_password2" required />
            <label class="form-label" for="new_password2">Подтверждение пароля</label>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4">Сбросить пароль</button>
    </form>
</body>
</html>
