{% include 'register_header.html' %}

<style>

  .container{
    margin-top: 150px;
  }

  #myButton {
      background-color: #86c277;
      border: 0px;
      padding: 10px 25px;
      color: black;
      font-size: 18px;
      font-weight: 500;
      margin-top: 20px;
    }

    #myButton:hover {
      background-color: #4c7062;
      color: white;
    }

</style>


<div class="container">
  <h2>Сброс пароля</h2>
  {% if validlink %}
    <form method="POST">
      {% csrf_token %}
      <div class="form-outline mb-4">
        <input type="password" class="form-control" name="new_password" placeholder="Введите новый пароль" required>
        <label class="form-label">Новый пароль</label>
      </div>
      <button id="myButton" type="submit" class="btn btn-primary btn-block mb-4">Установить новый пароль</button>
    </form>
  {% else %}
    <p>Ссылка для сброса пароля недействительна или истекла.</p>
  {% endif %}
</div>