* {
    box-sizing: border-box;
    margin: 0;
  }

  body {
    color: black;
  }

  html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .container-fluid{
    margin-right: 400px;
  }

  body {
    flex: 1;
  }

  .footer--section {
    margin-top: auto;
  }

  .btn {
    background-color: #B1C381;
    border: none;
    color: black;
  }

  .btn:hover {
    background-color: #526420;
    border: 1px solid black;
    color: white;
  }

  .contri--section {
    padding: 5% 7%;
    margin-top: 30px;
  }

  .card {
    width: 100%;
    min-height: 350px; /* Установите минимальную высоту для карточек */
    max-height: 400px; /* Установите максимальную высоту для карточек */
    overflow: hidden; /* Скрыть переполнение */
    display: flex;
    flex-direction: column; /* Позволяет использовать flexbox для карточек */
}

.card-body {
    flex: 1; /* Позволяет карточке занимать доступное пространство */
    display: flex;
    flex-direction: column; /* Позволяет использовать flexbox для содержимого карточки */
    justify-content: space-between; /* Распределяет пространство между элементами */
}

.card-title {
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Показать многоточие */
    white-space: nowrap; /* Запретить перенос строк */
}

.card-text {
    overflow: hidden; /* Скрыть переполнение */
    text-overflow: ellipsis; /* Показать многоточие */
    display: -webkit-box; /* Используйте flexbox для многострочного текста */
    -webkit-box-orient: vertical; /* Установите ориентацию на вертикальную */
    -webkit-line-clamp: 3; /* Установите количество строк для отображения */
    margin-bottom: auto; /* Убедитесь, что текст не сжимает кнопки */
}

  #h3 {
    padding-bottom: 45px;
    border-bottom: 2px solid black;
  }