body {
  background-color: #ffffff;
  color: #000000;
  font-family: 'Georgia', serif;
}

/* Для НАВИГАЦИОННОЙ панели. HEADER */

.navbar {
  background-color: #181818;
  padding: 20px 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navbar-brand {
  color: #b1ff9e;
  font-size: 35px;
  font-weight: 800;
}



.navbar-nav .nav-link {
  font-size: 20px;
  margin: 0 30px;
  color: #b1ff9e;
  transition: color 0.1s;
  /* Плавный переход цвета при наведении */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 600;
  border-radius: 5px;
  /* Закругленные углы для ссылок */
}

.navbar-nav .nav-link:hover {
  color: #fafafa;
}


/* Значок поддержки */

/* .clickable-image {
    width: 30px;
    height: auto; 
    cursor: pointer;
    margin-left: 10px; 
    vertical-align: middle;    
} */

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.nav-item img {
  width: 55px;
  height: 55px;
  margin-bottom: 1px;
  /* Отступ между иконкой и текстом */
}

.nav-link {
  margin-top: 10px;
  /* Добавляем отступ сверху для текста "На главную" */
}

.left-icon {
  order: 1;
  margin-left: 40px;
}

.left-icon:hover {
  cursor: pointer;
}

.modal-header {
  background-color: #ffffff;
  /* Цвет фона заголовка модального окна */
  color: #000000;
}

/* .modal-footer .btn-secondary {
  background-color: #0a3a63;

  color: #ffffff;
} */



/* Стили для СЕКЦИЙ */
.brand--section,
.feature--section,
.we--section,
.addBook--section {
  background-color: #b1ff9e;
  padding: 60px 0;
  text-align: center;
  margin-top: 50px;
  /* Отступ между секциями */
}

.brand--section::before,
.feature--section::before,
.we--section::before,
.addBook--section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  /* Цвет плёнки */
  z-index: -1;
  /* Установите z-index ниже, чем у содержимого секции */
}


/* текст в секциях */
.brand--details {
  font-size: 50px;
  color: #000;
  font-weight: 700;
  margin-left: 50px;
}

/* кнопка ДОБАВИТЬ   */
.btn-outline-success {
  border-radius: 0;
  color: #000;
  border-color: #000;
}

.btn-outline-success:hover {
  background-color: #000;
  color: #b1ff9e;
  border-color: #250101;
}




/* Стили для карусели */

.feature--section {
  margin: 20px 0;
  /* Уменьшите отступы, если нужно */
}

.for_img {
  width: 100%;
  height: 500px;
  /* Установите фиксированную высоту для всех изображений */
  overflow: hidden;
  /* Скрыть переполнение */
  display: flex;
  /* Используем flexbox для центрирования */
  justify-content: center;
  /* Центрируем содержимое по горизонтали */
  align-items: center;
  /* Центрируем содержимое по вертикали */
  margin: 0;
  /* Убедитесь, что отступы отсутствуют */
}

.for_img img {
  width: 100%;
  /* Ширина 100% для заполнения контейнера */
  height: 100%;
  /* Высота 100% для заполнения контейнера */
  object-fit: cover;
  /* Заполнение контейнера, может обрезать изображения */
  border-radius: 5px;
  /* Закругление углов изображений */
}





#citata {
  text-align: center;
  color: rgb(0, 0, 0);
  margin-bottom: 45px;
  font-size: 40px;
}




/* Секция О НАС */

#about_us {
  color: #000;
  text-align: center;
  margin: 30px 250px 0 250px;
  font-size: 20px;
}



/* Стили для ФУТЕРА */


/* отступ внизу между секцией и футером */
.feature--section {
  margin: 50px 0;
}

/* секция ДОБАВИТЬ СВОЮ КНИГУ  */
.addBook--section {
  background-color: #e0e0e0;
  padding: 30px 0;
}

.addBook--section h2 {
  color: #000000;
  /* Цвет заголовка */
}

.footer--section {
  background-color: #000000;
  /* Цвет фона футера */
  color: #ffffff;
  /* Цвет текста футера */
  padding: 20px 0;
}

.footer--section p {
  margin: 0;
  /* Убираем отступы */
}

#foot {
  color: #000000;
}

#mail {
  color: #0a3a63;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
  color: white;
}

.navbar-brand:focus,
.navbar-brand:hover {
  color: #b1ff9e;
}

#about {
  color: #000 !important;
  border-bottom: 1px solid black;
  margin: 0 250px;
}

.modal-body {
  color: #000;
}